{% extends 'base.html.twig' %}

{% set current_page = 'test' %}

{% block title %}User form{% endblock %}

{% block body %}
<div class="container form-group">
    <h1 class="text-center">Edit User</h1>
   <div>
    {{ form_start(user_form) }}
            {{ form_row(user_form.name) }}
            {{ form_row(user_form.username) }}
            {{ form_row(user_form.email) }}
            {{ form_row(user_form.phone) }}
            {{ form_row(user_form.website) }}
            <h2>User Address</h2>
            {{ form_row(user_form.address.street) }}
            {{ form_row(user_form.address.suite) }}
            {{ form_row(user_form.address.city) }}
            {{ form_row(user_form.address.zipcode) }}
             <div class="text-center">
                <button type="submit" class="btn btn-primary mt-3 mb-3 w-25">Save</button>
            </div>
    {{ form_end(user_form) }}
    </div>
</div>
{% endblock %}
