{% extends 'base.html.twig' %}

{% set current_page = current_page_from_controller %}

{% block title %}Users list!{% endblock %}

{% block body %}
<div class="container text-center">
    <h1>Users</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                    {% if retreived_from_db == true %}
                        <a href="/user/edit/{{ user.id }}" class="btn btn-primary">Edit user</a>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if retreived_from_db == false %}
        <a href="{{ path('app_json_all_users_form') }}" class="btn btn-primary">Save all users</a>
    {% endif %}
    

</div>
{% endblock %}
